<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Battery_barChart_position</key>
	<integer>4</integer>
	<key>Battery_batteryDetails_position</key>
	<integer>0</integer>
	<key>Battery_battery_position</key>
	<integer>3</integer>
	<key>Battery_label_position</key>
	<integer>2</integer>
	<key>Battery_mini_position</key>
	<integer>1</integer>
	<key>Battery_position</key>
	<integer>7</integer>
	<key>Battery_processes</key>
	<integer>3</integer>
	<key>Battery_state</key>
	<false/>
	<key>Battery_widget</key>
	<string></string>
	<key>Bluetooth_position</key>
	<integer>6</integer>
	<key>Bluetooth_sensors_mode</key>
	<string>twoRows</string>
	<key>Bluetooth_sensors_monospacedFont</key>
	<false/>
	<key>Bluetooth_state</key>
	<true/>
	<key>CPU_barChart_position</key>
	<integer>3</integer>
	<key>CPU_label_position</key>
	<integer>1</integer>
	<key>CPU_lineChart_position</key>
	<integer>2</integer>
	<key>CPU_mini_alignment</key>
	<string>center</string>
	<key>CPU_mini_position</key>
	<integer>0</integer>
	<key>CPU_pieChart_position</key>
	<integer>4</integer>
	<key>CPU_position</key>
	<integer>0</integer>
	<key>CPU_state</key>
	<true/>
	<key>CPU_tachometer_position</key>
	<integer>5</integer>
	<key>CPU_widget</key>
	<string>mini</string>
	<key>Clock_position</key>
	<integer>8</integer>
	<key>Clock_state</key>
	<false/>
	<key>CombinedModules</key>
	<true/>
	<key>CombinedModules_separator</key>
	<true/>
	<key>CombinedModules_spacing</key>
	<string>2</string>
	<key>Disk_position</key>
	<integer>3</integer>
	<key>Disk_state</key>
	<true/>
	<key>Disk_widget</key>
	<string>mini</string>
	<key>GPU_mini_alignment</key>
	<string>center</string>
	<key>GPU_position</key>
	<integer>1</integer>
	<key>GPU_state</key>
	<true/>
	<key>LaunchAtLoginNext</key>
	<true/>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{880, 448}</string>
	<key>NSToolbar Configuration eu.exelban.Stats.Settings.Toolbar</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame eu.exelban.Stats.Settings.WindowFrame</key>
	<string>1093 763 728 480 0 0 3008 1662 </string>
	<key>Network_position</key>
	<integer>5</integer>
	<key>Network_speed_icon</key>
	<string>arrows</string>
	<key>Network_speed_iconAlignment</key>
	<string>right</string>
	<key>Network_speed_iconColor</key>
	<string>transparent</string>
	<key>Network_speed_mode</key>
	<string>twoRows</string>
	<key>Network_speed_monochrome</key>
	<false/>
	<key>Network_speed_valueAlignment</key>
	<string>center</string>
	<key>Network_speed_valueColor</key>
	<string>default</string>
	<key>Network_state</key>
	<true/>
	<key>Network_widget</key>
	<string>speed</string>
	<key>RAM_barChart_position</key>
	<integer>6</integer>
	<key>RAM_label_position</key>
	<integer>5</integer>
	<key>RAM_lineChart_position</key>
	<integer>1</integer>
	<key>RAM_memory_position</key>
	<integer>4</integer>
	<key>RAM_mini_alignment</key>
	<string>center</string>
	<key>RAM_mini_label</key>
	<true/>
	<key>RAM_mini_position</key>
	<integer>0</integer>
	<key>RAM_oneView</key>
	<true/>
	<key>RAM_pieChart_position</key>
	<integer>2</integer>
	<key>RAM_position</key>
	<integer>2</integer>
	<key>RAM_state</key>
	<true/>
	<key>RAM_state_position</key>
	<integer>8</integer>
	<key>RAM_tachometer_position</key>
	<integer>7</integer>
	<key>RAM_text_position</key>
	<integer>3</integer>
	<key>RAM_widget</key>
	<string>mini</string>
	<key>Remote_position</key>
	<integer>9</integer>
	<key>SSD_mini_alignment</key>
	<string>center</string>
	<key>Sensors_barChart_position</key>
	<integer>3</integer>
	<key>Sensors_label_position</key>
	<integer>1</integer>
	<key>Sensors_mini_position</key>
	<integer>0</integer>
	<key>Sensors_position</key>
	<integer>4</integer>
	<key>Sensors_stack_position</key>
	<integer>2</integer>
	<key>Sensors_state</key>
	<false/>
	<key>Sensors_widget</key>
	<string>mini</string>
	<key>keep_menubar_positions</key>
	<false/>
	<key>pause</key>
	<false/>
	<key>remote_tokens_migrated_to_keychain</key>
	<true/>
	<key>runAtLoginInitialized</key>
	<true/>
	<key>setupProcess</key>
	<true/>
	<key>support_ts</key>
	<integer>1785951755</integer>
	<key>temperature_units</key>
	<string>celsius</string>
	<key>update-interval</key>
	<string>Once per week</string>
	<key>updater_check_ts</key>
	<integer>1785962996</integer>
	<key>version</key>
	<string>3.0.10</string>
</dict>
</plist>
